.are-you{
    padding-top: 20%;
    color: white;
}
.jumbo {
   width: 50%;
   background-color: #276955 !important;
   color: white;
}
.continue{
    margin-top: 2em;
    background-color: #276955 !important;
    border-color: white !important;
    width: 8em;
}