.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero{
    background-color: #276955 !important;
    height: 48em;
    margin: 2em;
    color: white;
}
.welcome{
    font-size: 4em;
}
.space{
    padding-top: 2em;
}
.space-bottom{
    padding-bottom: 2em;
}
.started{
    border-color: white !important;
    color: white !important;
    background-color: #276955 !important;
}