.profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0 !important;
    border-radius: 1em !important;
    margin-left: 20em;
    margin-right: 20em;
    margin-top: 3em;
    height: 24vh;
    background-color:#073f2e !important;
    color: white;
}
.top{
    display: flex !important;
    flex-direction: column;
}
.type{
    color: #9fecd5;
    font-size: bolder !important;
}
.name{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 1em;
}
.about{
    margin-left: 20em;
    margin-right: 20em;
    margin-top:4em;
    height: 80vh;
    border-radius: 1em !important;
    background-color: #073f2e !important;
}
.notifications{
    margin-left: 1em;
}
.toggle{
    background-color: #073f2e !important;
    border-color: white !important;
}
.add{
    margin-top: 4em;
    background-color: #276955 !important;
    border-radius: 1em !important;
    border-color: #276955 !important;
    font-weight: bold !important;
    height: 3em;
    transition: all;
}
.add:hover{
    transform: scale(1.1);
    box-shadow: 1px 5px 20px black;
}
.bio{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1em;
}
.lorem{
    padding-top: 1em;
}
.products{
    margin-bottom: .5em;
    padding: .4em;
    box-shadow: 2px 3px 5px #073f2e inset;
    border-radius: 1em;
    height: 45vh;
}
.product-card{
    margin: 1em;
    box-shadow: 1px 5px 20px black;
    height: 20em;
}
.card-title{
    color: #073f2e;
    font-weight: bold !important;
}
.plan-button{
    background-color: #073f2e !important;
    border-color: #073f2e !important;
}
.plan-button:hover{
    font-size: 1.04em;
}
.link{
    color: white !important;
}
.product-scroll{
    overflow-x: scroll;
}
.new-products{
  padding-bottom: .1em;
  font-size: 3em;  
}
.bio-button{
    background-color: transparent !important;
    border-color: transparent !important;
}