.owner{
    color:#9fecd5;
    font-weight: bolder !important;
    padding-bottom: 2em;
}
.owner-sign{
    margin-top: 15%;
    background-color: #276955 !important;
    border-radius: 2em !important;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 64em;
}
.owner-form{
    width: 34em;
}
.create{
    margin-top: 1em;
    border-color: #073f2e !important;
    border-radius: 1em !important;
    background-color: #073f2e !important;
    transition: all;
}

.create:hover{
   transform: scale(1.05);
   box-shadow: 1px 5px 8px black;
}