.navbar-background{
    background-color: #073f2e;
}
.darkgreen{
    color: #276955 !important;
    font-size: 1.2em !important;
    font-weight: bold !important;
    transform: all;
}
.darkgreen:hover{
    scale: 1.1;
}
.white{
    color: white !important;
    font-size: 1.2em !important;
    font-weight: bold !important;
    transform: all;
}
.white:hover{
    scale: 1.1;
}
.green{
    background-color: #276955 !important;
    border-color: white !important;
}
.search{
    border-radius: .5em !important;
    font-weight: bold !important;
}
.search:hover{
    background-color: darkslategrey !important;
}
