.navbar-background{
    background-color: #073f2e;
}
.darkgreen{
    color: #276955 !important;
    font-size: 1.3em !important;
    font-weight: bold !important;
    transform: all;
}
.lightgreen{
    color: #9fecd5 !important;
    font-size: 1.3em !important;
    font-weight: bold !important;
    transform: all;
}
.white{
    color: white !important;
    font-size: 1.3em !important;
    font-weight: bold !important;
    transform: all;
}
.white:hover, .darkgreen:hover, .lightgreen:hover{
    scale: 1.04;
}
.green{
    background-color: #276955 !important;
    border-color: #276955 !important;
}
.search{
    border-radius: .5em !important;
    font-weight: bold !important;
}
.search:hover{
    background-color: darkslategrey !important;
}
.home-icon{
    margin-top: 2em !important;
    margin-right: .7em;
    margin-left: .5em;
    color: #276955!important;
    font-size: 1.6em;
    transform: all;
}
.welcome-user{
    color: #276955 !important;
    font-weight: bolder !important;
    font-size: 1.5em;
}
.welcome-user:hover{
    cursor: default;
}