.main-page{
  background: #073f2e;
  color: white;
  font-weight: bold;
}
.article-button{
    background-color: #073f2e !important;
    border-color: white !important;
    border-radius: .3em !important;
}
.featured-button{
    background-color: #276955 !important;
    border-color: white !important;
    border-radius: .3em !important;
    margin-top: 2em;
    font-weight: bolder !important;
    width: 16%;
    margin-top: 6em;
}
.article-button:hover{
    background-color: white !important;
    border-color: #073f2e !important;
    color: #073f2e !important;
    border-radius: .3em !important;
}
.featured-button:hover{
    background-color: white !important;
    border-color: #073f2e !important;
    color: #073f2e !important;
    border-radius: .3em !important;
}
.featured-text{
    color: #276955;
    font-weight: bolder;
    font-size: 2em;
}
.tip-title{
  color: #276955;
  font-weight: bolder;
  font-size: 4em;
}
.center-featured{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-footer{
    grid-column: 1/9;
    width: 99.4vw;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.mart{
  margin: 3em 2em;
}
.story-date{
    color:#9fecd5 !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.photo-grid{
    margin: 0 4em 0 4em;
    height: 70vh;
    background: #073f2e !important;
    box-shadow: 5px 20px 20px rgba(0, 0, 0, .7);
    overflow-y: scroll;
}
.investor-tips{
    margin: 0 4em 0 4em;
    height: 70vh;
    background: #073f2e !important;
    box-shadow: 5px 20px 20px rgba(0, 0, 0, .7);
}    
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 100%;
    max-width: 25%;
    padding: 0;
  }
  
  .column img {
    vertical-align: middle;
    width: 100%;
    transition: all .4s;
  }
  .column img:hover {
   cursor: pointer;
   transform: scale(1.04);
  }
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }