.main-page{
    background: radial-gradient(#276955,#073f2e) !important;
    display: grid;
    grid-template-columns: 10%,10%,10%,10%,10%,10%,10%,10%,10%,10%;
    grid-template-rows: 20%,20%,20%,20%,20%,20%;
    color: white;
}
.articles{
    background-color:transparent!important;
    height: 252vh;
    overflow-y: hidden;
    padding-top: 0 !important;
}
.article-card{
    color: white;
    margin-top: 1.2em;
    border-radius: .5em !important;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7)!important;
}
.featured-card{
    color: #276955;
    height: 36em;
    border-radius: .5em !important;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7) !important;
}
.article-button{
    background-color: #073f2e !important;
    border-color: white !important;
    border-radius: .3em !important;
}
.featured-button{
    background-color: #276955 !important;
    border-color: white !important;
    border-radius: .3em !important;
    margin-top: 2em;
    font-weight: bolder !important;
    width: 16%;
    margin-top: 6em;
}
.article-button:hover{
    background-color: white !important;
    border-color: #073f2e !important;
    color: #073f2e !important;
    border-radius: .3em !important;
}
.featured-button:hover{
    background-color: white !important;
    border-color: #073f2e !important;
    color: #073f2e !important;
    border-radius: .3em !important;
}
.featured-title{
    color: #9fecd5;
    font-weight: bolder;
    font-size: 2.5em;
}
.featured-title:hover{
  cursor: pointer;
}
.featured-title2{
    color: white;
    font-weight: bolder;
    font-size: 2.5em;
}
.news-section{
    grid-row: 2;
    grid-column: 1;
}
.featured{
    text-align: center;
    grid-column: 1/10;
    grid-row: 1;
    background: transparent !important;
    margin-right: 1em;
}
.trending{
    grid-row: 2;
    grid-column: 2/10;
    background-color: rgba(0, 0, 0, 0.7) !important;
    border-radius: 1.8em !important;
    font-family: 'IBM Plex Sans', sans-serif;

}
.main-footer{
    grid-column: 1/9;
    width: 99.4vw;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.spacer{
    height: 4em;
}
.story-date{
    color:#9fecd5;
}
.news-titles{
    color:#9fecd5;
    font-weight: bolder;
    font-size: 2.5em;
}
.text-muted{
    font-size: larger;
}